*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}
.box{
    position: relative;
    width: 300px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box:hover{
    height: 400px;
}
.box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgBox img{
    max-width: 100%;
    opacity: 1;
    transition: 0.5s;
}
.box:hover .imgBox img{
    opacity: 1;
}
.box::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}
.box::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -2;
    filter: blur(40px);

}
.box::before, .box::after{
    background: linear-gradient(235deg, #F47621,#010615,#7c0000);
}
.box:nth-child(2)::before,.box:nth-child(2)::after{
    background: linear-gradient(235deg, #F47621,#010615,#7c0000);
}
.box:nth-child(3)::before,.box:nth-child(3)::after{
    background: linear-gradient(235deg, #F47621,#010615,#7c0000);
}
.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
}
.box .content h3{
    font-size: 20px;
    color: white;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h3 a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h3 span{
    font-size: 14px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
}
.box .content h3 span i{
    font-size: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
}
.box .content h3 span p{
    font-size: 14px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
}